.about {
	width: 100%;
	height: 710px;
	background-image: url(../content/images/backgrounds/About-Reservations.svg), linear-gradient(-43deg, #d0d0d0a8 0%, #ffffff 100%)
	/*background-image: linear-gradient(-43deg, #010101 0%, #ffffff 100%);*/
}

.about-content {
	width: 1066px;
	height: 100%;
	display: table;
	margin: 0 auto;
	position: relative;
}

.about-text {
	width: 410px;
	/*height: 510px;*/
	display: inline-block;
	margin: 100px 27px;
	position: relative;
}

.about-text h1 {
	font-size: 36px;
	font-weight: 400;
	font-family: "Yeseva One", sans-serif;
	text-align: center;
	color: #cc9900;
}

.about-text p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Lato";
	text-align: center;
	line-height: 24px;
	color: #4c4c4c;
	margin-top: 25px;
}

.about-text p span {
	word-spacing: 2px;
}

.about-pattern {
	display: table;
	margin: 15px auto;
}

.about-cook {
	position: absolute;
	top: 276px;
	left: 131px;
}

.about-dish {
	position: absolute;
	top: 55px;
	left: 472px;
}