
.reservation {
    width: 1600px;
    height: 710px;
    background-image: url("../content/images/backgrounds/Reservations.svg"), linear-gradient(-43deg, #d0d0d059 0%, #ffffff 100%);
}

.reservation-content {
    width: 1170px;
    height: 508px;
    padding: 96px 215px 103px 215px;

    display: flex;
    justify-content: space-between;
}

.reservation-images {
    width: 570px;
    height: 508px;

    display: flex;
    padding-top: 3px; 
    justify-content: space-between;
}

.reservation-images img {
    width: 270px;
    height: 508px;
}

.reservation-main-content {
    width: 570px;
    height: 508px;
    display: table;
    float: right;
}

.reservation-main-content img {
    color: black;
    display: table;
    margin: 14px auto 0 auto;
    width: 242px;
    height: 25px;
}

.reservation-main-content h1 {
    padding: 0 100px 0px 100px;
    color: #cc9900;
    font-size: 36px;
    font-family: "Yeseva One", sans-serif;
    font-weight: 400;
    text-align: center;
}

.reservation-main-content h6 {
    font-family: "Open Sans";
    text-align: left;
    color: #c9a131;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 6px;
    padding-top: 22px;
}

.reservation-main-content p {
    /*width: 432px;*/
    /*height: 171px;*/
    font-size: 16px;
    line-height: 24px;
    color: #4c4c4c;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
    display: block;
    margin-left: auto ;
    margin-right: auto ;
}

.reservation-text-top {
    margin-top: 25px;
}

.reservation-text-bottom {
    margin-top: 10px;
}

.reservation-text-bottom span {
    word-spacing: 0;
}

.reservation-field {
    width: 168px;
    height: 34px;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans", sans-serif;
    border: 1px solid #e2e2e2;
    padding: 0 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.reservation-field:focus {
    outline: 0;
    border: 1px solid #c89f2d;
}

.reservation-button {
    width: 200px;
    height: 36px;
    color: white;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    margin-top: 24px;
    margin-left: 186px;
    background-color: rgba(200,159,45,0.9803921568627451);
    border: 1px solid #c89f2d;
}

.reservation-button:active {
    background-color: rgba(176,135,19,0.9803921568627451);
    border: 1px solid #B08713;
}

.reservation-button:focus {
    outline: 0;
}

.form-button-disabled {
    background-color: rgba(176,135,19,0.9803921568627451);
    border: 1px solid #B08713;
}

select:required:invalid {
    color: #7c7c7c;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: #000;
}

.date-wrapper {
    display: inline-block;
    position: relative;
}

.date-wrapper::after {
    content: "\f073";
    font: normal normal normal 13.5px/1 FontAwesome;
    position: absolute;
    right: 12px;
    top: 12px;
    opacity: 0.5;
}

.form-date::before {
    visibility: hidden;
}

.form-date::-webkit-datetime-edit {
    visibility: visible;
}

.form-date::-webkit-calendar-picker-indicator {
    display: none
}

.form-combobox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.combobox-wrapper {
    display: inline-block;
    position: relative;
}

.combobox-wrapper::after {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;;
    right: 14.5px;
    top: 12px;
    opacity: 0.5;
}

.right_input select {
    width: 200px;
    height: 35px;
}

.left_input {
    padding: 16px 70px 6px 70px;
    justify-content: space-between;
    width: 430px;
    height: 170px;
    display: flex;
}