*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.header {
	width: 1600px;
	height: 159px;
	display: block;
	position: absolute;
	z-index: 10;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.0));
}

.inner_header {
	height: 110px;
	display: block;
	margin: auto 175px auto 175px;
}

.social_icons {
	height: 100%;
	float: right;
	display: table;
	padding-right: 40px;
	/*padding: 0 31px 0 0;*/
}

.social_icons i {
	float: left;
	display: table;
	color: #dab33e;
	font-size: 21px;
	margin-top: 50px;
	/*margin-left: 16px;*/
	/*padding: 52px 8px 0 8px;*/
}

.fa-twitter {
	margin-left: 8px;
}

.fa-youtube {
	margin-left: 18px;
}

.fa-facebook-f {
	margin-left: 13px;
}

.navigation {
	height: 100%;
	float: right;
	display: table;
}

.menu {
	float: right;
	height: 100%;
}

.menu a {
	height: 100%;
	display: table;
	float: left;
	margin-top: 3px;
}

.menu a li {
	height: 73px;
	display: table;
	color: white;
	font-size: 22px;
	font-weight: 500;
	font-family: "Gentium Book Basic", serif;
	padding: 45px 0 0 0;
}

.menu a:hover {
	margin-top: 0;
	border-top: 3px solid white;
}

.nav-home {
	padding: 0 13px;
	margin: 0 25px;
}

.nav-about {
	padding: 0 13px;
	margin: 0 0;
}

.nav-igredients {
	padding: 0 13px;
	margin: 0 26px;
}

.nav-menu {
	padding: 0 13px;
	margin: 0 0;
}

.nav-reviews {
	padding: 0 13px;
	margin: 0 26px;
}

.nav-reservations {
	padding: 0 13px;
	margin: 0 0;
}

.logo {
	height: 100%;
	float: left;
	display: table;
	padding: 12px 0 0 4px;
}

.logo h1 {
	height: 100%;
	float: left;
	display: table;
}

.logo h1 a {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 36px;
	font-weight: 400;
	font-family: "Yeseva One";
}